@import url('../../../assets/vendor/reset.scss');
.home_container{
    background-color: aquamarine;
}

.home{
    max-width: 1070px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: coral;
    
    
}

